.story-card {
  cursor: pointer;
  flex: 1;
  height: 500px;
  background-position: center;
  background-size: cover;
  color: white;
  position: relative;
  bottom: 40px;
}

.bottom-stripe {
  height: 10px;
  background-color: blue;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7455357142857143) 0%,
    rgba(0, 0, 0, 0.75) 15%,
    rgba(255, 255, 255, 0) 75%
  );
}

.title-description h4 {
  user-select: none;
  font-weight: 100;
  margin: 8px 0;
}

.title-description h3 {
  user-select: none;
  font-size: 1.2rem;
  font-weight: 600;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: white;
  opacity: 25%;
  margin: 1rem 0;
}
