.menu {
  position: absolute;
  z-index: -1;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.menu ul li {
  font-weight: bold;
  text-transform: uppercase;
}

ul li:active {
  opacity: 30%;
}

.menu-divider {
  height: 1px;
  width: 100%;
  background-color: black;
  opacity: 25%;
}

@media (hover: hover) {
  .menu ul li:hover {
    opacity: 30%;
  }
}
