.cta-desktop,
.cta-mobile {
  font-weight: bold;
  text-transform: uppercase;
  background-color: black;
  padding: 1em 2em;
  color: white;
  border: none;
  cursor: pointer;
  user-select: none;
}

@media (max-width: 760px) {
  .cta-desktop {
    display: none;
  }
}

@media (min-width: 761px) {
  .cta-mobile {
    display: none;
  }
}

@media (hover: hover) {
  .cta-desktop:hover,
  .cta-mobile:hover {
    background-color: #dfdfdf;
    color: black;
  }
}
