.switch-container {
  display: flex;
  align-items: center;
}

.switch-container h5 {
  font-size: 1rem;
}

.switch-background {
  cursor: pointer;
  position: relative;
  width: 64px;
  height: 32px;
  background-color: #dfdfdf;
  border-radius: 100px;
  margin: 0 2rem;
}

.switch-circle {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 24px;
  height: 24px;
  border-radius: 100px;
  margin: 0 5px;
  background-color: black;
}
