.switch-container {
  padding: 1rem 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
}

.switch-container h5 {
  font-size: 18px;
  transition: opacity 1000ms;
}

.switch-background {
  cursor: pointer;
  position: relative;
  width: 64px;
  height: 32px;
  border-radius: 100px;
  transition: background-color 300ms;
  margin: 0 2rem;
}

.switch-circle {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 24px;
  height: 24px;
  border-radius: 100px;
  margin: 0 4px;
  transition: background-color 300ms ease-in, right 100ms ease-in;
}
