.article,
.article-flip {
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
}

.color-thing {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 6px;
  left: 10%;
  background: rgb(255, 197, 147);
  background: linear-gradient(
    5deg,
    rgba(255, 197, 147, 1) 0%,
    rgba(188, 113, 152, 1) 35%,
    rgba(90, 119, 255, 1) 100%
  );
}

.text-side {
  flex: 3;
  align-items: center;
  padding: 8rem 5vw;
  position: relative;
}

.text-side h1 {
  font-size: 3rem;
  letter-spacing: 3px;
  line-height: 48px;
  font-weight: bold;
  text-transform: uppercase;
  max-width: 15ch;
}

.text-side p {
  opacity: 60%;
  font-weight: 100;
  line-height: 20px;
  max-width: 40ch;
  margin: 2rem 0 3rem 0;
}

.image-side {
  min-height: 350px;
  flex: 5;
  background-size: cover;
  background-position: center;
}

@media (min-width: 759px) {
  .article {
    flex-direction: row;
    height: 650px;
  }

  .article-flip {
    flex-direction: row-reverse;
    height: 650px;
  }

  .text-side {
    min-width: 500px;
  }

  .text-side p {
    line-height: 25px;
  }
  .color-thing {
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    height: 18rem;
    width: 6px;
  }
}
