.article {
  display: flex;
}

.text-side {
  flex: 2;
  background-color: black;
  color: white;
}

.text-side h1 {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.text-side p {
  opacity: 60%;
  font-weight: thin;
}

.image-side {
  flex: 3;
}
