.feature-set {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0 1rem;
  width: clamp(100px, 100%, 380px);
}

.feature-icon {
  width: 72px;
  fill: black;
}

.feature-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-text p {
  width: clamp(5ch, 100%, 34ch);
  margin: 2rem 0;
  height: 100px;
  font-size: 15px;
}

.feature-text h5 {
  font-size: 18px;
}

@media (min-width: 521px) {
  .feature-set {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
