.payment-details {
  position: relative;
  display: flex;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 0;
}

.pricing-cards {
  margin: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.compare-table {
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.compare-table h1 {
  text-transform: uppercase;
  font-size: 3rem;
}

@media (min-width: 1100px) {
  .pricing-cards {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
