nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  width: 100%;
  background-color: white;
  padding: 0 1.5rem;
  user-select: none;
}

ul li {
  text-transform: uppercase;
  font-weight: bold;
  display: inline;
  margin: 0 10px;
  list-style: none;
  cursor: pointer;
  color: black;
}

ul li:active {
  opacity: 30%;
}

.logo {
  height: 16px;
}

.nav-button {
  height: 28px;
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.menu ul li {
  font-weight: bold;
  text-transform: uppercase;
}

.menu ul li:active {
  opacity: 30%;
}

.menu-divider {
  height: 1px;
  width: 100%;
  background-color: black;
  opacity: 25%;
}

@media (max-width: 760px) {
  ul {
    display: none;
  }
}

@media (min-width: 761px) {
  .nav-button {
    display: none;
  }
  .menu {
    display: none;
  }
}

@media (hover: hover) {
  ul li:hover {
    opacity: 30%;
  }
  .menu ul li:hover {
    opacity: 30%;
  }
}
