nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  width: 100%;
  background-color: white;
  padding: 0 1.5rem;
}

ul li {
  display: inline;
  margin: 0 10px;
  list-style: none;
  cursor: pointer;
  color: gray;
}

ul li:hover {
  color: black;
}

.logo {
  width: 100%;
  height: 16px;
}

button {
  text-transform: uppercase;
}

@media (max-width: 760px) {
  ul {
    display: none;
  }
  button {
    display: none;
  }
}

@media (min-width: 761px) {
  .menu-icon {
    display: none;
  }
}
