.row-pics {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.split {
  flex-direction: column;
  display: flex;
  flex: 1;
}

@media (min-width: 459px) {
  .split {
    flex-direction: row;
  }
}
