.row-pics {
  position: relative;
  display: flex;
  width: 100%;
  /* flex-direction: column; */
  flex-wrap: wrap;
  z-index: 1;
}

.split {
  position: relative;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

/* @media (min-width: 459px) {
  .split {
    flex-direction: row;
  }
} */
