@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,italic,500,500italic,700,700italic);

.App {
  font-family: 'DM Sans', sans-serif, Helvetica;
  max-width: 1440px;
  margin: 0 auto;
}

input,
select,
textarea,
button {
  font-family: inherit;
}
