@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,italic,500,500italic,700,700italic);

.App {
  font-family: 'DM Sans', sans-serif, Helvetica;
  max-width: 2560px;
  margin: 0 auto;
  position: relative;
}

.overlay {
  position: absolute;
  background-color: black;
  inset: 0;
  z-index: 3;
  opacity: 50%;
  pointer-events: none;
}

input,
select,
textarea,
button {
  font-family: inherit;
}
