ul li {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  list-style: none;
  cursor: pointer;
  color: black;
}

ul li:active {
  opacity: 30%;
}

.nav-desktop li {
  display: inline;
  margin: 0 1rem;
}

.nav-mobile li {
  display: block;
  margin: 25px 0;
  text-align: center;
}

@media (max-width: 760px) {
  .nav-desktop {
    display: none;
  }
}

@media (hover: hover) {
  .menu ul li:hover {
    opacity: 30%;
  }
}
